game.Players.LocalPlayer.PlayerGui.MainUI.Initiator.Main_Game.RemoteListener.Modules.A90:Destroy()
-- DO NOT USE LINKVERTISE, WORK.INK, REKONISE, OR MEDIABOOSTER OR ANY OTHER ALTERNATIVES LIKE THIS. THIS SCRIPT WILL BLOCK YOU IF YOU PUT THIS ON THERE.
